.header{
    font-family: 'Audiowide', cursive;
    text-align: center;
    background-color: #005bbb;
    color: aliceblue;
    /*font-family: 'K2D', sans-serif;*/
}
.home_left{
    background-color: aliceblue;
    
}
