<nav class="navbar navbar-expand-sm navbar-custom header">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="/profile" routerLinkActive="active">UBCP</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/postrides" routerLinkActive="active">Post Rides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/searchrides" routerLinkActive="active">Search Rides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view" routerLinkActive="active">Rides by Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report" routerLinkActive="active">Report</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/feedback" routerLinkActive="active">Feedback</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{id}}</a>
      </li>
    </ul>
  </nav> 

<div class="row">
  <div class="col-3">
  </div> 
  <div class="col-6">
    <div *ngIf="flag">
      <p>Sorry no rides on Offer for your search </p>
    </div>
    
     <div *ngFor="let element of details"  class="shadow p-3 mb-5 bg-white rounded">
      
      <h4>Ride from {{element.start}} to {{element.end}} on {{element.date|date:'fullDate'}}</h4>
      <p>Ride can be offered for {{element.vacancy}} people and expected time of departure is {{element.time}}</p>
      <p>The pickup point is {{element.sl}} and drop of point is {{element.el}} </p>
      <p>Time flexibility(Y/N):{{element.flex}}</p>
      <p>Charge per person:{{element.charge| currency:'USD':true:'1.1-2'}}</p>
      <p>If you add 1 passenger to the ride then each of you will get 5% discount on quoted price</p>
      <p>If you add 2 or more passenger to the ride then each of you will get 10% discount on quoted price</p>
      <button class="btn btn-success" (click)="confirm(element.id,element.charge,element.vacancy)" >Select Ride</button>
    <br>
    <br>
    </div> 

  </div>
  <div class="col-3">
  </div>
</div>
